#header{
    border-bottom: 1px solid #d9dadc;
    text-align: center;
}

.logo {
    max-width: 200px;
}

#fb{

color: #FFFFFF;
background-color: #3b5998;
padding: 16px 14px 18px;
width: 450px;
height: 48px;
margin-bottom: 0;
font-weight: 700;
text-align: center;
vertical-align: middle;
touch-action: manipulation;
cursor: pointer;
border: 1px solid transparent;
font-size: 14px;
line-height: 1;
border-radius: 500px;
transition-property: background-color,border-color,color,box-shadow,filter;
transition-duration: .3s;
border-width: 0;
letter-spacing: 2px;
min-width: 160px;
text-transform: uppercase;
white-space: normal;

}

#apple{
color: #FFFFFF;
background-color: #000000;
padding: 16px 14px 18px;
width: 450px;
height: 48px;
font: 14px;
margin-bottom: 0;
font-weight: 700;
text-align: center;
vertical-align: middle;
touch-action: manipulation;
cursor: pointer;
border: 1px solid transparent;
font-size: 14px;
line-height: 1;
border-radius: 500px;
transition-property: background-color,border-color,color,box-shadow,filter;
transition-duration: .3s;
border-width: 0;
letter-spacing: 2px;
min-width: 160px;
text-transform: uppercase;
white-space: normal;
}

#OR {
    border-top: 1px solid #d9dadc;
    display: block;
    line-height: 1px;

}

#OR strong {
background: #fff;
font-size: 12px;
letter-spacing: 1px;
padding: 0 20px;
text-transform: uppercase;
}

#log{
color: #FFFFFF;
background-color: #1DB954;
padding: 16px 14px 18px;
width: 450px;
height: 48px;
font: 14px;
margin-bottom: 0;
font-weight: 700;
text-align: center;
vertical-align: middle;
touch-action: manipulation;
cursor: pointer;
border: 1px solid transparent;
font-size: 14px;
line-height: 1;
border-radius: 500px;
transition-property: background-color,border-color,color,box-shadow,filter;
border-width: 0;
letter-spacing: 2px;
min-width: 160px;
text-transform: uppercase;
white-space: normal;

}

#signup:hover {
    color: white;
    background-color: #616467;
}

#signup {
color: #616467;
box-shadow: inset 0 0 0 2px #616467;
background-color: transparent;
padding: 16px 14px 18px;
width: 450px;
height: 48px;
margin-bottom: 0;
font-weight: 700;
text-align: center;
vertical-align: middle;
touch-action: manipulation;
cursor: pointer;
border: 1px solid transparent;
font-size: 14px;
line-height: 1;
border-radius: 500px;
transition-property: background-color,border-color,color,box-shadow,filter;
transition-duration: .3s;
border-width: 0;
letter-spacing: 2px;
min-width: 160px;
text-transform: uppercase;
white-space: normal;
}

footer {
    font-size: 0.7em;
    color: #c1c3c6;
}

footer a {
    font-size: 11.2px;
    color: #1DB954;
}

h5 {
    color:#222326;
}

#form-check-input{
    font-size: 16px;
    color: #919496;
}

.w-100 {
    color: #1DB954;
}

#reg {
    border-bottom: 1px solid #d9dadc;
    border-top: 1px solid #d9dadc;
}

div span {
    color: #1DB954
}

.control-indicator {
font-size: 16px;
line-height: 1.5;
font-family: circular-spotify-ui,Helvetica Neue,Helvetica,Arial,sans-serif;
color: #919496;
cursor: pointer;
font-weight: 400;
box-sizing: border-box;
border: 1px solid #c1c3c6;
position: absolute;
top: 1px;
left: 0;
user-select: none;
border-radius: 4px;
background-color: #1db954;
border-color: #1db954;
background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath d='M13.613 27.068l-7.94-7.28q-.285-.267-.442-.613t-.172-.7.11-.71.394-.638q.52-.583 1.3-.614T8.225 17l6.13 5.626 8.79-17q.363-.693 1.104-.93t1.433.118.93 1.103-.126 1.442L16.56 26.55q-.204.394-.558.654t-.78.34q-.063.015-.118.023t-.11.008-.102 0q-.74 0-1.276-.504z' fill='%23FFF'/%3E%3C/svg%3E");
background-size: 16px;
display: inline-block;
vertical-align: middle;
width: 1.25em;
height: 1.25em;
background-repeat: no-repeat;
background-position: 50%;
}